
@{
	ViewData["Title"] = "Avatars";
}
<h1>Avatars</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Value
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @item.Value
                </td>
                
            </tr>
        }
    </tbody>
</table>